{% block content %}
    <script>
        let addressMap = Object;
        const list = 'GET';
        const add = 'POST';
        const del = 'DELETE';
        let addressList = [];

        function addFusiontablesLayer() {
            var layer = new google.maps.FusionTablesLayer({
                query: {
                    select: '\'Geocodable address\'',
                    from: '{{ fusion_table_id }}'
                }
            });
            layer.setMap(addressMap);
        }

        function showLocations() {
            htmlList = '';

            addressList.map(function(location) {
                lat = parseFloat(location['latitude']);
                lng = parseFloat(location['longitude']);
                address = location['address'];

                htmlList += `<li>(${lat}, ${lng}): ${address}</li>`;
            });

            htmlList = `<ul>${htmlList}</ul>`;
            $('#addressesList').html(htmlList);
            addFusiontablesLayer();
        }

        function handleRequests(method, data='') {
            $('#loader').css('display', 'block');
            $.ajax({
                url: '{{ root_url }}',
                method: method,
                data: data,
                headers: { 'X-CSRFToken':'{{ csrf_token }}' }
            }).done(function( data ) {
                addressList = method === del ? [] : addressList.concat(data);
                showLocations();
            }).fail(function( data ) {
                alert(data.responseJSON.toString());
            }).always(function( data ) {
                $('#loader').css('display', 'none');
            });
        }

        function deleteAdresses() {
            handleRequests(del);
        }

        function listLocations() {
            handleRequests(list);
        }

        function addMapListeners() {
            google.maps.event.addListener(addressMap, 'click', function(event) {
                handleRequests(add, {
                    latitude: parseFloat(event.latLng.lat().toFixed(6)),
                    longitude: parseFloat(event.latLng.lng().toFixed(6)),
                });
            });
        }

        function initMap() {
            addressMap = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: {lat: 47.3877746, lng: 8.5179263}
            });
            listLocations();
            addMapListeners();
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_geo_api_key }}&callback=initMap">
    </script>
{% endblock %}
