{% block content %}
    <script>
        function addFusiontablesLayer(map) {
            var layer = new google.maps.FusionTablesLayer({
                query: {
                    select: '\'Geocodable address\'',
                    from: '{{ fusion_table_id }}'
                }
            });
            layer.setMap(map);
        }

        function showLocations(map, results) {
            htmlList = '';
            results.map(function(location) {
                lat = parseFloat(location[2]);
                lng = parseFloat(location[1]);
                address = location[3];

                htmlList += `<li>(${lat}, ${lng}): ${address}</li>`;
            });

            htmlList = `<ul>${htmlList}</ul>`;
            $('#addressesList').html(htmlList);
            addFusiontablesLayer(map);
        }

        function handleRequests(map, url, data='') {
            $('#loader').css('display', 'block');
            $.ajax({
                url: url,
                method: "POST",
                data: data,
                headers: { 'X-CSRFToken':'{{ csrf_token }}' }
            }).done(function( data ) {
                showLocations(map, data.results);
            }).fail(function( data ) {
                alert(data.statusText);
            }).always(function( data ) {
                $('#loader').css('display', 'none');
            });
        }

        function deleteAdresses(map) {
            handleRequests(map, '/delete');
        }

        function listLocations(map) {
            handleRequests(map, '/list');
        }

        function addMapListeners(map) {
            google.maps.event.addListener(map, 'click', function(event) {
                handleRequests(map, '/add', event.latLng.toJSON());
            });
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: {lat: 47.3877746, lng: 8.5179263}
            });
            listLocations(map);
            addMapListeners(map);
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_geo_api_key }}&callback=initMap">
    </script>
{% endblock %}
